
<div id="contenido">
        <div>Crear Eventos </div>
        <div>
            <input type="button" value="Boton Crear evento" id="btnCrear">
        </div>
</div>
<script src="scripts/vistasScript/crearEventosScript.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        crearEventosVista.iniciarvista();
    });
</script>