


<div id="contenido">
    <div>Listar Eventos </div>
    <div>
        <input type="button" value="Boton Listar evento" id="btnListar">
    </div>
</div>

<script src="scripts/vistasScript/listarEventosScript.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        listarEventosVista.iniciarvista();
    });
</script>